body{
    text-align: center;
    background-color: black;
    font-size: 80px;   
    background-image: url("istockphoto-1290108037-612x612.jpg"); 
}
.message{
    text-align: center;
    color: whitesmoke;
    font-size: 30;
}

.title {
    font-size:40x;
    align-items: center;
    color: whitesmoke;
    text-align:center;
}
.gameContainer{
    display:flex;
    flex-wrap: wrap;
    width: 330px;
    margin: auto;
    cursor: pointer;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    
}
.cell{
    width: 100px;
    height: 100px;
    background-color:white;
    margin: 2px;
    float: right;
}
